<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
</head>
<body>
    <h2>Welcome, {{ username }}</h2>

    <!-- Add Expense Form -->
    <h3>Add Expense</h3>
    <form method = "POST" action = "{{ url_for('add_expense') }}">
        <label>Amount:</label>
        <input type = "number" name = "amount" step "0.01" required>
        <br>
        <label>Category:</label>
        <select name = "category">
            <option value = "Food">Food</option>
            <option value = "Transport">Transport</option>
            <option value = "Entertainment">Entertainment</option>
            <option value = "Shopping">Shopping</option>
            <option value = "Bills">Bills</option>
        </select>
        <br>
        <label>Description (Optional):</label>
        <input type = "text" name = "description">
        <br>
        <button type = "submit">Add Expense</button>
    </form>

    <!-- Filter Form -->
     <h3>Filter Expenses</h3>
     <form method = "GET" action = "{{ url_for('dashboard') }}">
        <label>Start Date:</label>
        <input type = "date" name = "start_date"

        <label>End Date:</label>
        <input type = "date" name = "end_date">

        <label>Category:</label>
        <select name = "category">
            <option velue = "">All</option>
            <option velue = "Food">Food</option>
            <option velue = "Transport">Transport</option>
            <option velue = "Entertainment">Entertainment</option>
            <option velue = "Shopping">Shopping</option>
            <option velue = "Bills">Bills</option>
        </select>

        <button type = "submit">Filter</button>
     </form>

     <!-- Expense List -->
    <h3>Your Expenses</h3>
    <ul>
        {% for expense in expenses %}
            <li>
                {{ expense.date.strftime('%Y-%m-%d') }} - {{ expense.category }}: 
                ${{ expense.amount }} - {{ expense.description }}
                <a href = "{{ url_for('edit_expense', expense_id = expense.id) }}">Edit</a> |
                <a href = "{{ url_for('delete_expense', expense_id = expense.id) }}" onlick = "return confirm('Are you sure?')">Delete</a>
            </li>
        {% else %}
            <li>No expenses found.</li>
        {% endfor %}
    </ul>

    <!-- Visualization Buttons -->
    <h3>Expense Insights</h3>
    <a href = "{{ url_for('expense_chart') }}">
        <button>View Expense Chart</button>
    </a>

    <a href = "{{ url_for('monthly_summary') }}">
        <button>View Monthly Summary</button>
    </a>

    <br><br>

    <a href = "{{ url_for('logout')}}">Logout</a>
</body>
</html>